@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
  background: #66728b;
  font-family: 'Rubik', arial;
}

.container{
  width: 300px;
  background: white;
  position: relative;
  top: 50px;
  border-radius: 25px;
  padding: 10px;
  margin: 0 auto;
}

.container input{
  display: block;
  width: 100%;
  height: 25px;
  margin-top: 10px;
  border: none;
  border: 1.5px solid #848C9C;
  padding-left: 5px;
  border-radius: 10px;
  transition: .3s;
}

.container input:focus{
  outline: none;
  border: 1.5px solid #5b5f68;
  box-shadow: 0 0 0 2.5px #838ca1;
}

.wrapper{
  margin: 15px;
}

.btn-submit{
  width: 100%;
  height: 40px;
  position: relative;
  left: 3px;
  top: 10px;
  background: #4F566A;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: .3s;
}

.btn-submit:hover{
  background: #3a3c42;
}

.result-wrapper{
}

.result-place{
  height: 25px;
  width: 100%;
  border-bottom: 1.5px solid white;
  position: relative;
  top: 75px;
  text-align: center;
  color: white;
  font-size: 10px;
}

.bold{
  font-weight: bold;
}

.red{
  color: red;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  bottom: 3px;
}

.image{
  width: 200px;
  height: 100px;
  background-image: url(mlbb.png);
  background-size: cover;
  margin: auto;
}

.footer{
  position: relative;
  bottom: 0;
  top: 150px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.img{
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}

.github-link{
  background-image: url(github.png);
}

.tiktok-link{
  background-image: url(tiktok.png);
}

.instagram-link{
  background-image: url(instagram.png);
}

.sources{
  font-weight: bold;
  color: black;
  font-size: 10px;
}

.result-place a{
  text-decoration: none;
  color: #79c4d6;
}